
/* head elements   */

.jumbotron {
    background-image: url("../images/backgrounds/landing.jpg");
     width:100%;
     height:630px;
     text-align:center;
     color:#fefefefe;
     margin:0px;
     border-top-right-radius: 0px;
    }
.jumbotron p{
    margin:50px;
    font-size:30px;
}
.jumbotron img{
  position:center; 
  margin:none; 
}
.jumbotron nav{
    float:left;
}
.jumbotron nav button{
   color:#fff;
    background:none;
    border:none;
    margin:none;
}
.jumbotron nav button:hover{
    color:#fff;
     background:none;
     border:none;
     margin:none;
 }
.glyphicon {
    font-size:50px;
    font-stretch: ultra-condensed;
}

/* first row elements */
#firstRow div{
      margin:0px;
    padding:0px;
}
#firstRow div:hover{
 
}
#topRow,#bottomRow{
    height:100px ;
    text-align:center;
    }
#topRow p,#bottomRow p{
    font-size:30px;
    padding:25px;
}
#topRow{  
    background-color:lightgrey;
}
#bottomRow{
    background-color:orangered;
    color:#fff;
}

#breakfast,#lunch,#dinner{
      height:200px;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
#breakfast p,#lunch p,#dinner p{
    font-size:30px;

}
#breakfast{
  background:url("../images/foodtop/breakfast.jpg");
}
#lunch{
    background:url("../images/foodtop/lunch.jpg" );
}
#dinner{
  background:url("../images/foodtop/dinner.jpg");
}
#breakfast:hover, #lunch:hover, #dinner:hover{
   opacity: 0.5;
  color: black;
     
}

/* second row */
#fastFood{
    width:490px;
    height:400px;
    margin:100px 20px 100px 100px;
    background:none;
    border-style:solid;
    border-color:#fff; 
    border:20px;
    box-shadow:3px 3px 3px 3px black;
    padding:0px;
} 
#fastFood1 {
    height:200px;
    background:url("../images/fastFood1.jpg");
    margin:0px;
    padding:0px;
}
#fastFood2 {
    height:200px;
    background:url("../images/fastFood2.jpg");
    margin:0px;
    padding:0px;
}
#fastFoodText{
    float:left;
    margin-left:0px;
    margin-top:100px;
    padding:0px;
}

/* third row */

#drinkTExt,#drinkPictures{
    margin-bottom: 100px;
} 
#drinkText p,#drinkText h2,#drinkText h3{
    text-align:right;  
}
#drinktext button{
   position:absolute;
   right:0px;
}
#drinkPictures img{
padding:0px;
margin:0px;
}

/*fourth row */
#newSection{
    width:102.5%;
    height:590px;
    margin-right:0px;
    background:url("../images/backgrounds/foodsBg.jpg");
   
}
#insetScrollSection{
    width:80%;
    height:400px;
    margin:100px 160px 100px 160px;
    background:#fff;
    padding:0px;
}
#insetScrollSection img{
    width:277;
    height:210;
    float:left;
    padding:40px 20px 75px 20px;
    margin:0px
}
#insetScrollSection button{
    padding:0px;
    margin:0px;
    background:trasnparent;
    border:none;

}


/*fifth row customers */
.container{
    width:80%;
 margin:100px 200px 100px 200px;
}

/* sixth row  email section*/
 #e-mail{
     height:300px;
     background:url("../images/backgrounds/subscribe.jpg");
    

 }
 #e-mail p,#e-mail h2{
    text-align:center;
    color:#fff;
 }
 #e-mail h2{
     padding-top:75px;
 }
 #e-mail button{
     background-color:orangered;
     border:none;
 }
#e-mail #text-box{
    background-color: rgba(255, 255, 255, 0.5);
    border:none;
    color:#fff;
    padding:2px;
    }

/* seventh row footer */
#footer {
    height:300px;
    background-color:orangered;
    text-align:center;
    color:#fff;
}
#footer #icon{
padding-top:50px;    

}